@use '@/styles/variables' as vars;

.header {
  background-color: vars.$card_header_bg;
  padding: 0.625rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  border-radius: 12px 12px 0 0;
}

.regionName {
  color: vars.$white;
  font-size: vars.$fz_sm;
  font-weight: 600;
  font-style: italic;
  position: relative;
  z-index: 1;
}
